*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sans-serif;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}

#game{
    height: 100vh;
}

.win-container{
    text-align: center;
    padding: 20px;
}

.win-container > h2{
    font-size: 3rem;
}

.win-container > h4{
    text-align: left;
    margin-bottom: 20px;
    color: purple;
}
.win-container #restart-btn{
    border: none;
    padding: 10px 20px;
    margin: 10px 0 30px 0;
    background: #ccc;
    border-radius: 10px;
    font-size: 1.9rem;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    position: relative;
    max-width: 500px;
    margin: auto;
}

.grid-container .box{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    margin: 10px auto;
    font-size: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#win-border {
  position: absolute;
  height: 10px;
  width: 330px;
  background: green;
  transform: translateY(-30px);
  transition: .4s ease-in-out transform;
  opacity: 0;
}

#winner:first-letter{
  font-size: 60px;
}

@keyframes anim{
  0%{
    transform: scale(1);
    color: #000;
  }
  100%{
    transform: scale(1.5);
    color: green;
  }
}

@media(min-width: 768px){
    #win-border{
        display: none;
    }
}

/* styles for main menu */
#main-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: steelblue;
    flex-direction: column;
}

#main-menu a{
    background: sandybrown;
    padding: 20px;
    font-size: 1.7rem;
    border-radius: 10px;
    color: #fff;
    margin-top: 20px;
    width: 300px;
    text-align: center;
}

#main-menu a:last-child{
    background: #ccc;
    color: #333;
}